{% block sidebar %}

    <style>
        .card {
            box-shadow: 0 16px 48px #E3E7EB;
            position: -webkit-sticky;
            position: sticky;
            top: 10px;
        }

    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">About Us</h5>
            <div class="card-body">
                <p class="card-text">We are tech company if you want to know more about us then please visit our
                    site</p>
                <a href="https://codeforcore.com/"
                   class="btn btn-danger">Visit Us</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}